body{
    text-align: center;
}

.Aboutspongebob2{
    background-color: yellow;
}
.Aboutspongebob3{
    background-color: pink;
    text-align: center;
}
.Aboutspongebob{
    background-color: white;
}